@font-face {
  font-family: GothamPro;
  font-display: swap;
  src: url("../fonts/GothamPro-Bold.woff2") format("woff2"), url("../fonts/GothamPro-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: GothamPro;
  font-display: swap;
  src: url("../fonts/GothamPro.woff2") format("woff2"), url("../fonts/GothamPro.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: GothamPro;
  font-display: swap;
  src: url("../fonts/GothamPro-Medium.woff2") format("woff2"), url("../fonts/GothamPro-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: GothamPro;
  font-display: swap;
  src: url("../fonts/GothamPro-Light.woff2") format("woff2"), url("../fonts/GothamPro-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

input,
button,
textarea {
  font-family: "GothamPro", sans-serif;
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
}

body {
  font-family: "GothamPro", sans-serif;
  font-weight: 400;
  color: #000;
  line-height: 1;
  font-size: 16px;
  background: #fff;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

[class*=__container] {
  max-width: 1620px;
  margin: 0 auto;
  padding: 0 15px;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.wrapper {
  position: relative;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

.title {
  font-size: 45px;
  font-weight: 700;
  line-height: normal;
}

.title-main {
  font-size: 50px;
  text-transform: uppercase;
  line-height: normal;
}

.title-up {
  font-size: 40px;
  font-weight: 700;
  line-height: normal;
}

.text {
  font-size: 20px;
  line-height: normal;
}

.link {
  border-radius: 10px;
  -webkit-box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
  background: #FFF url("../img/arrow-link.png") left 10px center/16px no-repeat;
  padding: 10px 10px 10px 40px;
  font-size: 20px;
  line-height: normal;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu {
  position: relative;
  z-index: 100;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 10px;
}

.menu__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.menu__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.menu__item::before {
  content: "";
  display: block;
  width: 0;
  height: 4px;
  background: #ffd900;
  position: absolute;
  -webkit-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  top: -22px;
  left: 50%;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__link {
  white-space: nowrap;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
  color: #FFF;
  font-size: 25px;
  line-height: normal;
}

.menu__arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 10px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 20px;
  flex: 0 0 20px;
  width: 20px;
  height: 15px;
  background: url("../img/arrow.png") 0 0/cover no-repeat;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin-top: 0.3em;
}

.menu__sub-list {
  position: relative;
  background-color: #35343D;
  padding: 15px;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  border-radius: 5px;
}

.menu__sub-item {
  width: 100%;
}

.menu__sub-item:not(:last-child) {
  margin-bottom: 10px;
}

.menu__sub-link {
  line-height: 100%;
  font-size: 20px;
  border-bottom: 1px solid #474747;
  padding: 5px 0;
  display: inline-block;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
  width: 100%;
  text-align: left;
  color: #fff;
}

.burger-menu {
  display: none;
}

.menu-open .burger-menu::before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 8px;
  background: #fff;
}

.menu-open .burger-menu::after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  bottom: 8px;
  background: #fff;
}

.menu-open .burger-menu span {
  opacity: 0;
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  padding-top: 35px;
}

.header_bg {
  background: #35343D;
  position: relative;
}

.header__top {
  margin-bottom: 40px;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #FFF;
  font-size: 20px;
  line-height: normal;
  max-width: 470px;
  position: relative;
  z-index: 102;
}

.header__logo img {
  margin-right: 10px;
  max-width: 100%;
}

.header__button {
  min-height: 62px;
  max-width: 225px;
  padding: 5px 10px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  color: #fff;
  background: rgba(10, 6, 6, 0.7);
  position: relative;
  z-index: 102;
  width: 100%;
  white-space: nowrap;
  font-size: 20px;
  line-height: normal;
  border-radius: 10px;
  margin: 0 10px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__button_bg {
  background: #797979;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__text {
  color: #FFF;
  font-size: 20px;
  line-height: normal;
  max-width: 282px;
  width: 100%;
}

.header__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-left: 40px;
  position: relative;
  z-index: 102;
}

.header__tel {
  color: #FFF;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 10px;
  white-space: nowrap;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.header__mail {
  color: #FFF;
  font-size: 20px;
  line-height: normal;
  white-space: nowrap;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.header__bottom {
  border-top: 1px solid #D9D9D9;
  border-bottom: 1px solid #D9D9D9;
  padding: 20px 0;
}

.main {
  background: url("../img/main-bg.jpg") 0 0/cover no-repeat;
}

.main__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  min-height: 100vh;
  padding-top: 315px;
}

.main__title {
  color: #FFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 65px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 35px;
}

.main__text {
  color: #FFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 34px;
  line-height: normal;
  max-width: 900px;
  margin-bottom: 60px;
}

.main__items {
  margin-top: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
}

.main__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 135px;
  background: #282828;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 33.333%;
  flex: 0 1 33.333%;
  padding: 22px 37px;
}

.main__item:nth-child(2) {
  background: #35343D;
}

.main__item:nth-child(3) {
  background: #54585C;
}

.main__icon {
  margin-right: 35px;
}

.main__desc {
  color: #FFF;
  font-size: 17px;
  line-height: normal;
}

.main-services {
  padding-top: 66px;
}

.main-services__title {
  margin-bottom: 37px;
}

.main-services__text {
  color: #000;
  font-size: 34px;
  line-height: normal;
  margin-bottom: 94px;
}

.main-services__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.main-services__item {
  position: relative;
  padding-bottom: 91.4%;
  -webkit-transition: -webkit-filter 0.3s ease 0s;
  transition: -webkit-filter 0.3s ease 0s;
  transition: filter 0.3s ease 0s;
  transition: filter 0.3s ease 0s, -webkit-filter 0.3s ease 0s;
  overflow: hidden;
}

.main-services__item img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
}

.main-services__desc {
  color: #FFF;
  font-size: 34px;
  line-height: normal;
  position: absolute;
  left: 15px;
  right: 15px;
  top: 60%;
}

.main-production {
  background: #34333C;
  padding-top: 66px;
  padding-bottom: 105px;
}

.main-production__title {
  margin-bottom: 30px;
  color: #fff;
}

.main-production__text {
  color: #FFF;
  font-size: 27px;
  line-height: normal;
  margin-bottom: 80px;
}

.main-production__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 34px;
}

.main-production__item {
  position: relative;
  padding-bottom: 75%;
  overflow: hidden;
  -webkit-transition: -webkit-filter 0.3s ease 0s;
  transition: -webkit-filter 0.3s ease 0s;
  transition: filter 0.3s ease 0s;
  transition: filter 0.3s ease 0s, -webkit-filter 0.3s ease 0s;
}

.main-production__item img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
}

.main-production__desc {
  color: #FFF;
  font-size: 26px;
  line-height: normal;
  position: absolute;
  left: 15px;
  right: 15px;
  top: 65%;
}

.main-contact {
  background: url("../img/main-contact-bg.jpg") 0 0/cover no-repeat;
  position: relative;
  padding-top: 160px;
  padding-bottom: 90px;
}

.main-contact::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
}

.main-contact__container {
  position: relative;
  z-index: 3;
}

.main-contact__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.main-contact__content {
  position: relative;
  z-index: 3;
  max-width: 510px;
  width: 100%;
  margin-right: 20px;
}

.main-contact__title {
  margin-bottom: 44px;
}

.main-contact__sub-title {
  font-size: 24px;
  line-height: normal;
  margin-bottom: 60px;
  font-weight: 500;
}

.main-contact__text {
  font-size: 15px;
  line-height: normal;
}

.main-contact__image {
  position: absolute;
  bottom: 0;
  z-index: 2;
}

@supports (left: clamp( -6.25rem , -15rem  +  43.75vw , 37.5rem )) {
  .main-contact__image {
    left: clamp( -6.25rem , -15rem  +  43.75vw , 37.5rem );
  }
}

@supports not (left: clamp( -6.25rem , -15rem  +  43.75vw , 37.5rem )) {
  .main-contact__image {
    left: calc(-6.25rem + 43.75 * (100vw - 20rem) / 100);
  }
}

@supports (width: clamp( 18.75rem , 11.25rem  +  37.5vw , 56.25rem )) {
  .main-contact__image {
    width: clamp( 18.75rem , 11.25rem  +  37.5vw , 56.25rem );
  }
}

@supports not (width: clamp( 18.75rem , 11.25rem  +  37.5vw , 56.25rem )) {
  .main-contact__image {
    width: calc(18.75rem + 37.5 * (100vw - 20rem) / 100);
  }
}

.main-contact__image img {
  max-width: 100%;
}

.main-form {
  border-radius: 20px;
  background: #FFF;
  padding: 40px 30px;
  position: relative;
  z-index: 3;
  max-width: 360px;
  width: 100%;
}

.main-form__title {
  text-align: center;
  font-size: 22px;
  line-height: normal;
  margin-bottom: 23px;
  font-weight: 700;
}

.main-form__text {
  font-size: 16px;
  line-height: normal;
  margin-bottom: 35px;
}

.main-form__item {
  margin-bottom: 10px;
}

.main-form__input {
  height: 45px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #AEAEAE;
  background: #FFF;
  padding: 0 15px;
  font-size: 15px;
  -webkit-transition: border 0.3s ease 0s;
  transition: border 0.3s ease 0s;
}

.main-form__input:focus {
  border: 1px solid #0300ad;
}

.main-form__textarea {
  font-size: 15px;
  line-height: normal;
  margin-top: 28px;
  margin-bottom: 32px;
  width: 100%;
  resize: vertical;
  border-radius: 4px;
  border: 1px solid #AEAEAE;
  background: #FFF;
  min-height: 95px;
  padding: 15px;
  -webkit-transition: border 0.3s ease 0s;
  transition: border 0.3s ease 0s;
}

.main-form__textarea:focus {
  border: 1px solid #0300ad;
}

.main-form__submit {
  border-radius: 7px;
  background: #0500EE;
  width: 100%;
  min-height: 45px;
  padding: 5px 10px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 7px;
  background-color: #0500EE;
  font-size: 16px;
  font-style: normal;
  color: #fff;
  -webkit-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.main-form__submit:focus {
  background-color: #0300ad;
}

.about {
  padding-top: 110px;
  padding-bottom: 50px;
}

.about__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 90px;
}

.about__content {
  margin-right: 55px;
}

.about__title {
  margin-bottom: 40px;
}

.about__text {
  font-size: 20px;
  line-height: normal;
}

.about__text p:not(:last-child) {
  margin-bottom: 25px;
}

.about__image {
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  padding-bottom: 32.962962963%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 48.6419753086%;
  flex: 0 0 48.6419753086%;
  width: 100%;
}

.about__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
}

.about__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px 20px;
}

.about__item {
  border-radius: 10px;
  background: #FFF;
  -webkit-box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.5);
  min-height: 136px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  font-size: 20px;
  line-height: normal;
  padding: 10px;
}

.about-production {
  padding-top: 80px;
  padding-bottom: 100px;
}

.about-production__title {
  margin-bottom: 80px;
}

.about-production__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin: 0 -50px 30px;
}

.about-production__column {
  margin: 0 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  max-width: 600px;
  width: 100%;
}

.about-production__link {
  width: 100%;
}

.about-production__link:not(:last-child) {
  margin-bottom: 40px;
}

.about-production__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin: 0 -50px;
}

.about-production__text {
  margin: 0 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  max-width: 600px;
  width: 100%;
}

.about-advantages {
  background: #54585C;
  padding-top: 65px;
  padding-bottom: 75px;
}

.about-advantages__title {
  color: #fff;
  margin-bottom: 50px;
}

.about-advantages__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -20px;
}

.about-advantages__list {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
  padding: 0 20px;
}

.about-advantages__item {
  color: #FFF;
  font-size: 25px;
  line-height: normal;
  position: relative;
  padding-left: 40px;
}

.about-advantages__item::before {
  content: "";
  display: block;
  background: url("../img/ok.png") 0 0/100% no-repeat;
  position: absolute;
  left: 0;
  top: -2px;
  width: 30px;
  height: 30px;
}

.about-advantages__item:not(:last-child) {
  margin-bottom: 40px;
}

.about-features {
  padding-top: 100px;
  padding-bottom: 50px;
}

.about-features__title {
  margin-bottom: 40px;
}

.about-features__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -20px;
}

.about-features__list {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
  padding: 0 20px;
}

.about-features__item {
  font-size: 20px;
  line-height: normal;
  position: relative;
  padding-left: 50px;
  min-height: 54px;
  background: #FFF url("../img/about-features-icon.png") left 10px center no-repeat;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  -webkit-box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
}

.about-features__item:not(:last-child) {
  margin-bottom: 30px;
}

.about-structure {
  padding-top: 50px;
  padding-bottom: 120px;
}

.about-structure__title {
  margin-bottom: 35px;
}

.about-structure__text {
  margin-bottom: 70px;
  max-width: 810px;
}

.about-structure__text p:not(:last-child) {
  margin-bottom: 20px;
}

.about-structure__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -50px;
}

.about-structure__list {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
  padding: 0 50px;
}

.about-structure__item {
  min-height: 77px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.about-structure__item:not(:last-child) {
  margin-bottom: 30px;
}

.purchases {
  padding-top: 70px;
  padding-bottom: 350px;
}

.purchases__title {
  font-weight: 700;
  margin-bottom: 30px;
}

.purchases__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.purchases__item {
  max-width: 650px;
  width: 100%;
}

.purchases__item:not(:last-child) {
  margin-bottom: 24px;
}

.block-video {
  padding-top: 70px;
  padding-bottom: 150px;
}

.block-video__title {
  font-weight: 700;
  text-align: center;
  margin-bottom: 60px;
}

.block-video__video {
  position: relative;
  max-width: 61.7283950617%;
  width: 100%;
  margin: 0px auto;
  padding-bottom: 35%;
}

.block-video__video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: contain;
  object-fit: contain;
}

.partners {
  padding-top: 120px;
  padding-bottom: 100px;
}

.partners__title {
  margin-bottom: 48px;
}

.partners__text {
  margin-bottom: 40px;
}

.partners__text p:not(:last-child) {
  margin-bottom: 40px;
}

.partners__wrap:not(:last-child) {
  margin-bottom: 40px;
}

.partners__sub-title {
  margin-bottom: 40px;
}

.partners__block {
  border-radius: 10px;
  background: #35343D;
  -webkit-box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5fr 3fr 5fr;
  grid-template-columns: 5fr 3fr 5fr;
  gap: 10px;
  padding: 40px;
}

.partners__column:nth-child(2) {
  padding-top: 24px;
}

.partners__label {
  color: #FFF;
  font-size: 20px;
  font-weight: 300;
  line-height: normal;
}

.partners__label span {
  font-weight: 700;
  display: block;
}

.partners__label a {
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.partners__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.partners__block-title {
  color: #000;
  font-size: 30px;
  line-height: normal;
  text-align: center;
  margin-bottom: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.contacts {
  padding-top: 110px;
  padding-bottom: 110px;
}

.contacts__title {
  margin-bottom: 60px;
}

.contacts__sub-title {
  margin-bottom: 44px;
}

.contacts__text {
  margin-bottom: 44px;
}

.contacts__head {
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 18px;
}

.contacts__label {
  font-size: 20px;
  line-height: normal;
  margin-bottom: 20px;
}

.contacts__label a {
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
  position: relative;
}

.contacts__label a::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #000;
  -webkit-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.politics {
  padding-top: 110px;
  padding-bottom: 110px;
}

.politics__title {
  text-transform: initial;
  font-weight: 700;
  margin-bottom: 40px;
  max-width: 920px;
}

.politics__block:not(:last-child) {
  margin-bottom: 40px;
}

.politics__sub-title {
  font-size: 40px;
  margin-bottom: 24px;
}

.politics__list {
  padding-left: 50px;
}

.politics__list_numbers-none {
  list-style-type: none;
}

.politics__item:not(:last-child) {
  margin-bottom: 20px;
}

.politics__sub-list {
  margin-top: 10px;
  padding-left: 20px;
}

.politics__sub-list_padding {
  padding-left: 30px;
}

.politics__sub-item {
  list-style-type: disc;
}

.politics__sub-item_disc-none {
  list-style-type: none;
}

.ads {
  padding-top: 110px;
  padding-bottom: 350px;
}

.ads__title {
  margin-bottom: 42px;
}

.ads__sub-title {
  font-weight: 500;
  margin-bottom: 30px;
}

.ads__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(300px, 520px) minmax(300px, 520px);
  grid-template-columns: minmax(300px, 520px) minmax(300px, 520px);
  gap: 100px;
}

.ads__block {
  border-radius: 15px;
  background-color: #393939;
  padding: 30px;
  min-height: 420px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.ads__head {
  font-weight: 700;
  max-width: 360px;
  margin-bottom: 16px;
  min-height: 70px;
}

.ads__date {
  font-size: 15px;
  line-height: normal;
  margin-bottom: 24px;
  font-weight: 300;
}

.ads__text {
  font-size: 18px;
  line-height: normal;
  max-width: 310px;
  font-weight: 300;
}

.ads__block-text p:not(:last-child) {
  margin-bottom: 30px;
}

.section-product {
  padding-top: 70px;
  padding-bottom: 150px;
}

.section-product_big {
  padding-bottom: 350px;
}

.section-product__title {
  margin-bottom: 40px;
}

.section-product__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 32.7160493827% 1fr 20.6790123457%;
  grid-template-columns: 32.7160493827% 1fr 20.6790123457%;
  gap: 60px;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.section-product__body_width {
  -ms-grid-columns: 32.7160493827% 1fr;
  grid-template-columns: 32.7160493827% 1fr;
}

.section-product__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.section-product__link {
  width: 100%;
}

.section-product__link:not(:last-child) {
  margin-bottom: 20px;
}

.section-product__image {
  position: relative;
  padding-bottom: 94.9253731343%;
}

.section-product__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
}

.block-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-radius: 15px;
  background: #393939;
  padding: 30px 45px;
}

.block-product__link {
  color: #FFF;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.block-product__link:not(:last-child) {
  margin-bottom: 20px;
}

.product-column {
  max-width: 930px;
}

.product-column__title {
  font-size: 30px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 20px;
}

.product-column__image {
  margin-top: 20px;
  margin-bottom: 20px;
}

.product-column__image img {
  max-width: 100%;
}

.product-column__text a {
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.product-column__text p:not(:last-child) {
  margin-bottom: 20px;
}

.product-column__text_margin {
  margin-bottom: 70px;
}

.product-column__media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: -8px;
  margin-right: -8px;
}

.product-column__media:not(:last-child) {
  margin-bottom: 50px;
}

.product-column__img {
  padding: 0 8px;
}

.product-column__img img {
  max-width: 100%;
}

.product-column__link {
  width: 100%;
  margin-bottom: 50px;
  display: inline-block;
}

.product-column__wrap:not(:last-child) {
  margin-bottom: 80px;
}

.product-table {
  margin-bottom: 35px;
  overflow: auto;
}

.product-table__bg {
  min-width: 500px;
}

.product-table__row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  border-bottom: 1px solid #AEAEAE;
  padding: 20px 0;
  min-height: 65px;
}

.product-table__row:first-child {
  padding-top: 0;
  min-height: auto;
}

.product-table__top {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  text-align: center;
}

.product-table__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 10px;
  text-align: center;
}

.product-table__column:nth-child(1) {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.product-table__column:nth-child(2) {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.footer {
  background: #35343D;
  padding-top: 60px;
  padding-bottom: 40px;
}

.footer__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 5fr 2fr;
  grid-template-columns: 2fr 5fr 2fr;
  gap: 30px;
}

.footer__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.footer__column:nth-child(3) {
  min-width: 300px;
}

.footer__menu {
  margin-bottom: 40px;
}

.footer__item:not(:last-child) {
  margin-bottom: 15px;
}

.footer__link {
  color: #FFF;
  font-size: 20px;
  line-height: normal;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
  white-space: nowrap;
}

.footer__name {
  color: #FFF;
  font-size: 20px;
  line-height: normal;
  border-bottom: 1px dashed #fff;
  white-space: nowrap;
}

.footer__text {
  color: #FFF;
  font-size: 20px;
  line-height: normal;
  margin-bottom: 20px;
  max-width: 800px;
}

.footer__politics {
  color: #FFF;
  font-size: 20px;
  line-height: normal;
  margin-bottom: 25px;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.footer__copy {
  color: #FFF;
  font-size: 20px;
  line-height: normal;
}

.footer__address {
  color: #FFF;
  font-size: 20px;
  line-height: normal;
  margin-bottom: 30px;
}

.footer__tel {
  color: #FFF;
  font-size: 20px;
  line-height: normal;
  margin-bottom: 35px;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.footer__mail {
  color: #FFF;
  font-size: 20px;
  line-height: normal;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.tabs {
  margin-top: 100px;
}

.tabs__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 90px;
}

.tabs__title {
  border-radius: 10px;
  background: #35343D;
  -webkit-box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.5);
  max-width: 580px;
  width: 100%;
  min-height: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  color: #FFF;
  font-size: 20px;
  line-height: normal;
  font-weight: 500;
  padding: 5px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.tabs__title._tab-active {
  background: #ffd900;
  -webkit-box-shadow: 0px 0px 5px 0px #ffd900;
  box-shadow: 0px 0px 5px 0px #ffd900;
}

.tabs__head {
  font-size: 30px;
  line-height: normal;
  text-align: center;
  margin-bottom: 40px;
}

.tabs__block {
  border-radius: 10px;
  background: #35343D;
  -webkit-box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
  padding: 45px 55px;
}

.tabs__row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 200px 1fr;
  grid-template-columns: 200px 1fr;
  gap: 50px;
}

.tabs__row:not(:last-child) {
  margin-bottom: 34px;
}

.tabs__label {
  color: #FFF;
  font-size: 20px;
  line-height: normal;
}

.tabs__value {
  color: #FFF;
  font-size: 20px;
  line-height: normal;
}

.tabs__value a {
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.tabs__image {
  text-align: center;
}

.tabs__image img {
  max-width: 100%;
}

@media (min-width: 991.98px) and (any-hover: hover) {
  .menu__item:hover::before {
    width: 100%;
  }

  .menu__item:hover .menu__sub-list {
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .menu__item:hover .menu__arrow {
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
  }
}

@media (min-width: 991.98px) {
  .menu__item.hover::before {
    width: 100%;
  }

  .menu__item.hover .menu__sub-list {
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .menu__item.hover .menu__arrow {
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
  }

  .menu__sub-list {
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    -webkit-transform: translate(0px, 10px);
    -ms-transform: translate(0px, 10px);
    transform: translate(0px, 10px);
    min-width: 300px;
    position: absolute;
    left: 0;
    width: 100%;
    top: 100%;
    z-index: 3;
  }
}

@media (max-width: 1620px) {
  .title {
    font-size: 40px;
  }

  .title-main {
    font-size: 42px;
  }

  .title-up {
    font-size: 32px;
  }

  .text {
    font-size: 17px;
  }

  .link {
    font-size: 18px;
    padding: 10px 10px 9px 35px;
  }

  .menu__link {
    font-size: 20px;
  }

  .header__logo {
    font-size: 16px;
    max-width: 380px;
  }

  .header__logo img {
    max-width: 120px;
  }

  .header__button {
    font-size: 16px;
    min-height: 50px;
    max-width: 180px;
  }

  .header__text {
    font-size: 16px;
  }

  .header__contact {
    margin-left: 20px;
  }

  .header__tel {
    font-size: 16px;
  }

  .header__mail {
    font-size: 16px;
  }

  .main__body {
    padding-top: 300px;
  }

  .main__title {
    font-size: 50px;
  }

  .main__text {
    font-size: 30px;
  }

  .main__item {
    padding: 10px 15px;
  }

  .main__icon {
    margin-right: 20px;
  }

  .main__desc {
    font-size: 16px;
  }

  .main-services__title {
    margin-bottom: 20px;
  }

  .main-services__text {
    font-size: 26px;
    margin-bottom: 60px;
  }

  .main-services__desc {
    font-size: 26px;
  }

  .main-production {
    padding: 60px 0;
  }

  .main-production__text {
    font-size: 22px;
    margin-bottom: 60px;
  }

  .main-production__body {
    gap: 20px;
  }

  .main-production__desc {
    font-size: 22px;
  }

  .main-contact {
    padding: 90px 0;
  }

  .main-contact__title {
    margin-bottom: 30px;
  }

  .main-contact__sub-title {
    font-size: 20px;
    margin-bottom: 40px;
  }

  .main-contact__text {
    font-size: 14px;
  }

  .about {
    padding-top: 80px;
  }

  .about__body {
    margin-bottom: 60px;
  }

  .about__content {
    margin-right: 30px;
  }

  .about__title {
    margin-bottom: 30px;
  }

  .about__text {
    font-size: 17px;
  }

  .about__text p:not(:last-child) {
    margin-bottom: 20px;
  }

  .about__item {
    font-size: 18px;
    min-height: 120px;
  }

  .about-production {
    padding: 60px 0;
  }

  .about-production__title {
    margin-bottom: 60px;
  }

  .about-production__body {
    margin: 0 -20px 30px;
  }

  .about-production__column {
    margin: 0 20px;
  }

  .about-production__link:not(:last-child) {
    margin-bottom: 30px;
  }

  .about-production__row {
    margin: 0 -20px;
  }

  .about-production__text {
    margin: 0 20px;
  }

  .about-advantages__item {
    font-size: 22px;
  }

  .about-features {
    padding-top: 80px;
    padding-bottom: 40px;
  }

  .about-features__item {
    font-size: 18px;
  }

  .about-structure {
    padding-top: 40px;
    padding-bottom: 100px;
  }

  .about-structure__body {
    margin: 0 -20px;
  }

  .about-structure__list {
    padding: 0 20px;
  }

  .purchases {
    padding-bottom: 300px;
  }

  .partners {
    padding: 80px 0;
  }

  .partners__title {
    margin-bottom: 30px;
  }

  .partners__text p:not(:last-child) {
    margin-bottom: 30px;
  }

  .partners__wrap:not(:last-child) {
    margin-bottom: 30px;
  }

  .partners__sub-title {
    margin-bottom: 30px;
  }

  .partners__block {
    padding: 20px;
  }

  .partners__column:nth-child(2) {
    padding-top: 22px;
  }

  .partners__label {
    font-size: 18px;
  }

  .partners__block-title {
    margin-bottom: 30px;
    font-size: 26px;
  }

  .contacts {
    padding: 80px 0;
  }

  .contacts__title {
    margin-bottom: 40px;
  }

  .contacts__sub-title {
    margin-bottom: 20px;
  }

  .contacts__text {
    margin-bottom: 30px;
  }

  .contacts__head {
    margin-bottom: 10px;
    font-size: 18px;
  }

  .contacts__label {
    margin-bottom: 20px;
    font-size: 18px;
  }

  .politics {
    padding: 80px 0;
  }

  .politics__title {
    margin-bottom: 30px;
  }

  .politics__sub-title {
    font-size: 36px;
    margin-bottom: 20px;
  }

  .ads {
    padding-top: 80px;
    padding-bottom: 250px;
  }

  .ads__title {
    margin-bottom: 30px;
  }

  .ads__body {
    gap: 60px;
  }

  .ads__block {
    min-height: 340px;
  }

  .ads__head {
    max-width: 340px;
    margin-bottom: 15px;
    min-height: 60px;
  }

  .ads__date {
    font-size: 14px;
    margin-bottom: 15px;
  }

  .ads__text {
    font-size: 16px;
  }

  .section-product {
    padding: 80px 0;
  }

  .section-product_big {
    padding-bottom: 250px;
  }

  .section-product__body {
    gap: 30px;
  }

  .block-product {
    padding: 20px 30px;
  }

  .block-product__link {
    font-size: 18px;
  }

  .product-column__title {
    font-size: 26px;
  }

  .product-column__text_margin {
    margin-bottom: 50px;
  }

  .footer__link {
    font-size: 18px;
  }

  .footer__text {
    font-size: 18px;
  }

  .footer__politics {
    font-size: 18px;
  }

  .footer__copy {
    font-size: 18px;
  }

  .footer__address {
    font-size: 18px;
  }

  .footer__tel {
    font-size: 18px;
  }

  .footer__mail {
    font-size: 18px;
  }

  .tabs {
    margin-top: 60px;
  }

  .tabs__navigation {
    margin-bottom: 60px;
  }

  .tabs__title {
    font-size: 18px;
    max-width: 500px;
    min-height: 60px;
  }

  .tabs__head {
    font-size: 26px;
    margin-bottom: 30px;
  }

  .tabs__block {
    padding: 35px 45px;
  }

  .tabs__row:not(:last-child) {
    margin-bottom: 30px;
  }

  .tabs__row {
    -ms-grid-columns: 180px 1fr;
    grid-template-columns: 180px 1fr;
    gap: 30px;
  }

  .tabs__label {
    font-size: 18px;
  }

  .tabs__value {
    font-size: 18px;
  }
}

@media (max-width: 1200px) {
  .menu__link {
    font-size: 18px;
  }

  .main-services__body {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .main-services__item {
    padding-bottom: 60%;
  }

  .main-production__body {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  .main-production__item {
    padding-bottom: 50%;
  }

  .about__items {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .about-production__body {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .about-production__column {
    max-width: 100%;
  }

  .about-production__column:not(:last-child) {
    margin-bottom: 20px;
  }

  .about-production__link:not(:last-child) {
    margin-bottom: 20px;
  }

  .about-production__row {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .about-production__text {
    max-width: 100%;
  }

  .about-production__text:not(:last-child) {
    margin-bottom: 20px;
  }

  .about-features__list {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
  }

  .about-features__list:nth-child(1) {
    margin-bottom: 20px;
  }

  .about-features__item:not(:last-child) {
    margin-bottom: 20px;
  }

  .about-structure__list {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
  }

  .about-structure__list:nth-child(1) {
    margin-bottom: 20px;
  }

  .about-structure__item {
    min-height: 50px;
  }

  .about-structure__item:not(:last-child) {
    margin-bottom: 20px;
  }

  .section-product__body {
    gap: 20px;
  }

  .block-product {
    padding: 15px;
  }
}

@media (max-width: 1200px) and (max-width: 767.98px) {
  .about-structure__list:nth-child(1) {
    margin-bottom: 15px;
  }
}

@media (max-width: 991.98px) {
  .title {
    font-size: 30px;
  }

  .title-main {
    font-size: 35px;
  }

  .title-up {
    font-size: 28px;
  }

  .text {
    font-size: 16px;
  }

  .link {
    font-size: 16px;
    padding: 10px 10px 10px 35px;
    background: #FFF url("../img/arrow-link.png") left 10px center/14px no-repeat;
  }

  .menu {
    overflow: auto;
    background: #54585C;
    position: fixed;
    right: -100%;
    top: 0;
    height: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    padding: 100px 20px 20px;
    text-align: center;
    -webkit-transition: right 0.5s ease;
    transition: right 0.5s ease;
  }

  .menu-open .menu {
    right: 0;
  }

  .menu__list {
    display: block;
  }

  .menu__item {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 25px;
  }

  .menu__link {
    font-size: 23px;
    margin-right: 0;
    margin-left: 0;
  }

  .menu__arrow._spoller-active {
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
  }

  .menu__sub-list {
    margin-top: 15px;
    margin-left: -15px;
    margin-right: -15px;
  }

  .burger-menu {
    display: block;
    width: 30px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 30px;
    flex: 0 0 30px;
    height: 20px;
    position: relative;
    z-index: 200;
  }

  .burger-menu::before {
    display: block;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 4px;
    width: 100%;
    background: #fff;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    border-radius: 20px;
  }

  .burger-menu::after {
    display: block;
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 100%;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background: #fff;
    border-radius: 20px;
  }

  .burger-menu span {
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    height: 4px;
    width: 100%;
    background: #fff;
    border-radius: 20px;
    opacity: 1;
    -webkit-transition: opacity 0.3s ease 0s;
    transition: opacity 0.3s ease 0s;
  }

  .header::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    -webkit-transition: right 0.5s ease 0s;
    transition: right 0.5s ease 0s;
    background: #35343D;
    z-index: 101;
  }

  .menu-open .header::before {
    right: 0;
  }

  .header {
    padding: 20px 0;
  }

  .header__top {
    margin-bottom: 0;
  }

  .header__logo p {
    display: none;
  }

  .header__text {
    display: none;
  }

  .header__bottom {
    padding: 0;
    border: 0;
  }

  .main__body {
    padding-top: 200px;
  }

  .main__title {
    font-size: 40px;
  }

  .main__text {
    font-size: 26px;
  }

  .main__item {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    margin: 0 -15px;
    min-height: 100px;
  }

  .main__icon img {
    max-width: 60px;
  }

  .main-services {
    padding-top: 40px;
  }

  .main-services__text {
    font-size: 22px;
    margin-bottom: 20px;
  }

  .main-production {
    padding: 40px 0;
  }

  .main-production__text {
    font-size: 18px;
    margin-bottom: 40px;
  }

  .main-contact {
    padding: 40px 0;
  }

  .main-contact__image {
    display: none;
  }

  .main-form {
    padding: 30px 20px;
  }

  .main-form__title {
    font-size: 20px;
  }

  .main-form__text {
    font-size: 14px;
    margin-bottom: 20px;
  }

  .main-form__input {
    font-size: 14px;
  }

  .main-form__textarea {
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 14px;
  }

  .about {
    padding-top: 40px;
    padding-bottom: 25px;
  }

  .about__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 30px;
  }

  .about__content {
    margin-right: 0;
    margin-bottom: 30px;
  }

  .about__text {
    font-size: 16px;
  }

  .about__image {
    padding-bottom: 65%;
  }

  .about-production {
    padding-top: 25px;
    padding-bottom: 40px;
  }

  .about-production__title {
    margin-bottom: 30px;
  }

  .about-advantages {
    padding: 40px 0;
  }

  .about-advantages__title {
    margin-bottom: 30px;
  }

  .about-advantages__item::before {
    margin-top: -4px;
  }

  .about-advantages__item {
    font-size: 19px;
  }

  .about-advantages__item:not(:last-child) {
    margin-bottom: 30px;
  }

  .about-features {
    padding-top: 40px;
    padding-bottom: 30px;
  }

  .about-features__title {
    margin-bottom: 30px;
  }

  .about-features__item {
    font-size: 16px;
  }

  .about-structure {
    padding-top: 30px;
    padding-bottom: 40px;
  }

  .about-structure__title {
    margin-bottom: 20px;
  }

  .about-structure__text {
    margin-bottom: 30px;
  }

  .about-structure__text p:not(:last-child) {
    margin-bottom: 10px;
  }

  .purchases {
    padding-bottom: 80px;
    padding-top: 50px;
  }

  .purchases__title {
    margin-bottom: 20px;
  }

  .purchases__item:not(:last-child) {
    margin-bottom: 15px;
  }

  .block-video {
    padding-bottom: 80px;
    padding-top: 50px;
  }

  .block-video__title {
    margin-bottom: 40px;
  }

  .block-video__video {
    max-width: 100%;
    padding-bottom: 55%;
  }

  .partners {
    padding: 50px 0;
  }

  .partners__sub-title {
    margin-bottom: 20px;
  }

  .partners__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .partners__column:nth-child(2) {
    padding-top: 0;
  }

  .partners__block-title {
    margin-bottom: 15px;
    font-size: 24px;
  }

  .contacts {
    padding: 50px 0;
  }

  .contacts__title {
    margin-bottom: 30px;
  }

  .contacts__sub-title {
    margin-bottom: 10px;
  }

  .contacts__text {
    margin-bottom: 20px;
  }

  .contacts__head {
    font-size: 16px;
  }

  .contacts__label {
    font-size: 15px;
    margin-bottom: 10px;
  }

  .politics {
    padding: 50px 0;
  }

  .politics__block:not(:last-child) {
    margin-bottom: 30px;
  }

  .politics__sub-title {
    font-size: 30px;
  }

  .politics__list {
    padding-left: 30px;
  }

  .politics__item:not(:last-child) {
    margin-bottom: 10px;
  }

  .ads {
    padding-top: 50px;
    padding-bottom: 100px;
  }

  .ads__sub-title {
    margin-bottom: 20px;
  }

  .ads__text {
    font-size: 15px;
    max-width: 100%;
  }

  .ads__block-text p:not(:last-child) {
    margin-bottom: 20px;
  }

  .section-product {
    padding: 50px 0;
  }

  .section-product_big {
    padding-top: 50px;
    padding-bottom: 80px;
  }

  .section-product__title {
    margin-bottom: 20px;
  }

  .section-product__body_grid-none {
    display: block;
  }

  .section-product__body {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .section-product__image {
    padding-bottom: 70%;
  }

  .block-product_mb {
    margin-bottom: 20px;
  }

  .block-product__link {
    font-size: 16px;
  }

  .block-product__link:not(:last-child) {
    margin-bottom: 15px;
  }

  .product-column__title {
    font-size: 20px;
  }

  .product-column__text p:not(:last-child) {
    margin-bottom: 15px;
  }

  .product-column__text_margin {
    margin-bottom: 30px;
  }

  .product-column__media:not(:last-child) {
    margin-bottom: 20px;
  }

  .product-column__link {
    margin-bottom: 30px;
    font-size: 14px;
    padding: 6px 6px 6px 30px;
  }

  .product-column__wrap:not(:last-child) {
    margin-bottom: 60px;
  }

  .product-table {
    margin-bottom: 20px;
  }

  .product-table__row {
    padding: 15px 0;
  }

  .footer {
    padding: 40px 0;
  }

  .footer__body {
    -ms-grid-columns: 2fr 1fr;
    grid-template-columns: 2fr 1fr;
  }

  .footer__column:nth-child(1) {
    display: none;
  }

  .footer__text {
    font-size: 16px;
  }

  .footer__politics {
    font-size: 16px;
    margin-bottom: 15px;
  }

  .footer__copy {
    font-size: 16px;
  }

  .footer__address {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .footer__tel {
    font-size: 16px;
    margin-bottom: 15px;
  }

  .footer__mail {
    font-size: 16px;
  }

  .tabs {
    margin-top: 40px;
  }

  .tabs__navigation {
    margin-bottom: 40px;
  }

  .tabs__title {
    font-size: 15px;
    min-height: 50px;
  }

  .tabs__head {
    font-size: 20px;
    margin-bottom: 15px;
  }

  .tabs__block {
    padding: 20px 15px;
  }

  .tabs__row:not(:last-child) {
    margin-bottom: 20px;
  }

  .tabs__label {
    font-size: 15px;
  }

  .tabs__value {
    font-size: 15px;
  }
}

@media (max-width: 991.98px) and (any-hover: hover) {
  .link:hover {
    background: #ffd900 url("../img/arrow-link.png") left 10px center/14px no-repeat;
    -webkit-box-shadow: 0px 2px 10px 0px #ffd900;
    box-shadow: 0px 2px 10px 0px #ffd900;
  }
}

@media (max-width: 767.98px) {
  .title {
    font-size: 26px;
  }

  .title-main {
    font-size: 30px;
  }

  .title-up {
    font-size: 24px;
  }

  .text {
    font-size: 15px;
  }

  .header {
    padding: 15px 0;
  }

  .header__logo img {
    max-width: 90px;
    margin-right: 0;
  }

  .header__button {
    min-height: 40px;
    max-width: 160px;
    font-size: 13px;
  }

  .header__contact {
    display: none;
  }

  .main__body {
    padding-top: 140px;
  }

  .main__title {
    font-size: 31px;
  }

  .main__text {
    font-size: 18px;
  }

  .main-services__text {
    font-size: 18px;
  }

  .main-services__desc {
    font-size: 20px;
    top: 50%;
  }

  .main-production__title {
    margin-bottom: 10px;
  }

  .main-production__text {
    font-size: 16px;
    margin-bottom: 30px;
  }

  .main-production__desc {
    font-size: 18px;
    top: 60%;
    left: 10px;
    right: 10px;
  }

  .main-contact__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .main-contact__content {
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .main-contact__title {
    margin-bottom: 20px;
  }

  .main-contact__sub-title {
    font-size: 17px;
    margin-bottom: 20px;
  }

  .main-contact__text {
    font-size: 13px;
  }

  .main-form {
    max-width: 100%;
  }

  .about__title {
    margin-bottom: 20px;
  }

  .about__text {
    font-size: 15px;
  }

  .about__text p:not(:last-child) {
    margin-bottom: 15px;
  }

  .about__items {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 15px;
  }

  .about__item {
    font-size: 16px;
    min-height: 100px;
  }

  .about-production__title {
    margin-bottom: 25px;
  }

  .about-production__column:not(:last-child) {
    margin-bottom: 15px;
  }

  .about-production__link:not(:last-child) {
    margin-bottom: 15px;
  }

  .about-production__text:not(:last-child) {
    margin-bottom: 15px;
  }

  .about-advantages__list {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
  }

  .about-advantages__list:nth-child(1) {
    margin-bottom: 20px;
  }

  .about-advantages__item::before {
    width: 24px;
    height: 24px;
    top: -1px;
  }

  .about-advantages__item {
    font-size: 16px;
    padding-left: 35px;
  }

  .about-advantages__item:not(:last-child) {
    margin-bottom: 20px;
  }

  .about-features__item {
    font-size: 15px;
    background: #FFF url("../img/about-features-icon.png") left 7px center/24px no-repeat;
    padding-left: 40px;
  }

  .about-features__item:not(:last-child) {
    margin-bottom: 15px;
  }

  .about-structure__item:not(:last-child) {
    margin-bottom: 15px;
  }

  .partners__title {
    margin-bottom: 20px;
  }

  .partners__text {
    margin-bottom: 30px;
  }

  .partners__text p:not(:last-child) {
    margin-bottom: 15px;
  }

  .partners__block {
    padding: 15px;
  }

  .partners__label {
    font-size: 16px;
  }

  .partners__block-title {
    font-size: 22px;
  }

  .politics__title {
    font-size: 28px;
  }

  .politics__sub-title {
    font-size: 24px;
    margin-bottom: 15px;
  }

  .politics__list {
    padding-left: 20px;
  }

  .politics__sub-list {
    padding-left: 15px;
    margin-top: 10px;
  }

  .politics__sub-list_padding {
    padding-left: 20px;
  }

  .ads__title {
    margin-bottom: 20px;
  }

  .ads__body {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .ads__block {
    padding: 15px;
    min-height: 200px;
  }

  .ads__head {
    min-height: auto;
    max-width: 100%;
  }

  .section-product__link:not(:last-child) {
    margin-bottom: 10px;
  }

  .footer__body {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .footer__column:nth-child(2) {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }

  .footer__column:nth-child(3) {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    min-width: 0;
  }

  .tabs__row {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 5px;
  }
}

@media (max-width: 530px) {
  .product-table {
    margin-right: -15px;
  }
}

@media (max-width: 479.98px) {
  .main-services__body {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .main-services__desc {
    font-size: 22px;
  }

  .main-production__body {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 350px) {
  .main__title {
    font-size: 28px;
  }
}

@media (any-hover: hover) {
  .link:hover {
    background: #ffd900 url("../img/arrow-link.png") left 10px center/16px no-repeat;
    -webkit-box-shadow: 0px 2px 10px 0px #ffd900;
    box-shadow: 0px 2px 10px 0px #ffd900;
  }

  .menu__sub-link:hover {
    color: #ffd900;
  }

  .header__button:hover {
    background: rgb(10, 6, 6);
  }

  .header__button_bg:hover {
    background: #505050;
  }

  .header__tel:hover {
    color: #ffd900;
  }

  .header__mail:hover {
    color: #ffd900;
  }

  .main-services__item {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
  }

  .main-services__item:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
  }

  .main-production__item {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
  }

  .main-production__item:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
  }

  .main-form__submit:hover {
    background-color: #0300ad;
  }

  .partners__label a:hover {
    color: #ffd900;
  }

  .contacts__label a:hover {
    color: #ffd900;
  }

  .contacts__label a:hover::after {
    background-color: #ffd900;
  }

  .ads__block:hover {
    background-color: #ffd900;
  }

  .block-product__link:hover {
    color: #ffd900;
  }

  .product-column__text a:hover {
    color: #ffd900;
  }

  .footer__link:hover {
    color: #ffd900;
  }

  .footer__politics:hover {
    color: #ffd900;
  }

  .footer__tel:hover {
    color: #ffd900;
  }

  .footer__mail:hover {
    color: #ffd900;
  }

  .tabs__title:hover {
    background: #ffd900;
    -webkit-box-shadow: 0px 0px 5px 0px #ffd900;
    box-shadow: 0px 0px 5px 0px #ffd900;
  }

  .tabs__value a:hover {
    color: #ffd900;
  }
}